*{
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
    background-image: url(https://www.historyhit.com/app/uploads/bis-images/5150285/The-Parthenon-788x537.jpg?x81146);
    background-size: cover;
    padding: 277px;
    font-family: pacifico;
}

#intro{
    color: #8A2D3B;
    background-color: #641B2E;
    font-size: 100px;
}

main{
    background-color: #641B2E;
    padding: 100px;
}

footer{
    background-color: #641B2E;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 70px;

    color:white;
    a{
        color:#BE5B50;
        &:hover{
            color: white;
        }
    }

}

body{
    text-align: center;
}

button{
    padding: 10px 20px;
    font-size: 50px;
    font-family: pacifico;
    color: #BE5B50;
    background-color: #8A2D3B;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom:20px;

    &:hover{
        color:#8A2D3B;
        background: #BE5B50;
    }
}

#form{
    background-color: #641B2E;
    color:white;
    font-family: pacifico;
}

#parthenonheader{
    text-align: center;
    background-image: url(https://www.historyhit.com/app/uploads/bis-images/5150285/The-Parthenon-788x537.jpg?x81146);
    background-size: cover;
    padding: 50px;
    font-family: pacifico;    
}

label{
    font-size: 30px;
}

input, textarea{
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;
}

body{
    background-color:#641B2E;
}
